[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vs/ 
Assets/FantasyMonsters/
Assets/JMO Assets/
Assets/Paid - GUI Pro-FantasyRPG/
Assets/Paid - Super 2D GUI Kit - Layer Lab/
Assets/Plugins/
Assets/VFX*/
Assets/Sound*/

